.App {
  max-width: 600px;
  margin: 30px auto;
}

body {
  background: rgb(218, 232, 255);
  background: radial-gradient(
    circle,
    rgba(218, 232, 255, 1) 0%,
    rgba(240, 247, 255, 1) 62%
  );
  background-size: contain;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.weather-app {
  background-image: linear-gradient(
    to bottom,
    #48bce2,
    #31b5ea,
    #24adf1,
    #30a4f7,
    #4a99f9
  );
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(74, 52, 125, 0.08);
  border-radius: 15px;
  padding: 30px;
}

.App footer {
  text-align: center;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.744);
}
.App footer a {
  color: #6ed6f9de;
}
